@tailwind components;
@tailwind utilities;

.recharts-legend-item-text,
.recharts-cartesian-axis-tick-value {
    font-size: 13px;
}

.recharts-legend-item {
    margin-right: 25px;
}

@layer components {
    body {
        overflow: hidden !important;
        @apply bg-[#f1f2f3] p-0 m-0;
    }

    #root {
        height: 100%;
        overflow: hidden !important;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p,
    a,
    strong,
    td,
    th,
    text,
    .__react_component_tooltip {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    td {
        @apply py-0 px-[10px];
    }

    th {
        @apply bg-white sticky top-0;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        @apply appearance-none m-0;
    }
}

@layer utilities {
    .border-table {
        border-top: 1px solid #808080;
    }

    .animated-menu {
        -webkit-animation-duration: 600ms;
        animation-duration: 600ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: slideInRight;
        animation-name: slideInRight;

        @-webkit-keyframes slideInRight {
            from {
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
                visibility: visible;
            }

            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }

        @keyframes slideInRight {
            from {
                -webkit-transform: translate3d(100%, 0, 0);
                transform: translate3d(100%, 0, 0);
                visibility: visible;
            }

            to {
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }

    .animated-alert {
        @keyframes slideInTop {
            0% {
                transform: translateY(-40px);
                visibility: visible;
                opacity: 0;
            }

            8% {
                transform: translateY(0px);
                opacity: 1;
            }

            90% {
                transform: translateY(0px);
                opacity: 1;
            }

            100% {
                transform: translateY(-40px);
                visibility: hidden;
                opacity: 0;
            }
        }
    }
}
